<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.aleben.notflix</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>05C66F0C-901F-4BCB-9014-9E0708276890</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49CD2E55-9242-4D08-80E1-F45E485912C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0FA8C10D-9280-461C-98CE-16DCA6042BFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98968B54-0D38-42A6-93A0-67D272373AAD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49CD2E55-9242-4D08-80E1-F45E485912C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FA8C10D-9280-461C-98CE-16DCA6042BFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AA0E996A-6755-431D-B4EB-B8E74FA41A91</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B4BDF638-BFC7-4E4C-A3C3-D96DCB15623D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A869E6AB-68D5-4A34-A32C-40A5199FAA06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49CD2E55-9242-4D08-80E1-F45E485912C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4BDF638-BFC7-4E4C-A3C3-D96DCB15623D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>67A46815-EE5E-470B-9458-3C2D89B0C725</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>44C3BE8A-A7D6-4C63-9F15-7613B127C51C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Aleben</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfredflix</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>alfredflix</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./alfredflix-search $baseURL 1 "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Alfredflix Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A869E6AB-68D5-4A34-A32C-40A5199FAA06</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Lauching Stream</string>
				<key>title</key>
				<string>Alfredflix</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>67A46815-EE5E-470B-9458-3C2D89B0C725</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>alfredflixp {query}</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>98968B54-0D38-42A6-93A0-67D272373AAD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>p</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>0FA8C10D-9280-461C-98CE-16DCA6042BFA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>p\d+</string>
						<key>outputlabel</key>
						<string>Change page</string>
						<key>uid</key>
						<string>AA0E996A-6755-431D-B4EB-B8E74FA41A91</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Launch stream</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>49CD2E55-9242-4D08-80E1-F45E485912C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfredflix-link $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B4BDF638-BFC7-4E4C-A3C3-D96DCB15623D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>alfredflixp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./alfredflix-search $baseURL {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Alfredflix Page</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>05C66F0C-901F-4BCB-9014-9E0708276890</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>webtorrent "{query}" --{var:defaultPlayer}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>44C3BE8A-A7D6-4C63-9F15-7613B127C51C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>05C66F0C-901F-4BCB-9014-9E0708276890</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>0FA8C10D-9280-461C-98CE-16DCA6042BFA</key>
		<dict>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>44C3BE8A-A7D6-4C63-9F15-7613B127C51C</key>
		<dict>
			<key>note</key>
			<string>Lauching webtorrent stream</string>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>49CD2E55-9242-4D08-80E1-F45E485912C6</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>67A46815-EE5E-470B-9458-3C2D89B0C725</key>
		<dict>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>98968B54-0D38-42A6-93A0-67D272373AAD</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>A869E6AB-68D5-4A34-A32C-40A5199FAA06</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>B4BDF638-BFC7-4E4C-A3C3-D96DCB15623D</key>
		<dict>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>baseURL</key>
		<string>https://www.1377x.to</string>
		<key>defaultPlayer</key>
		<string>mpv</string>
		<key>input</key>
		<string>page 3</string>
		<key>page</key>
		<string>1</string>
	</dict>
	<key>version</key>
	<string>0.1.1</string>
	<key>webaddress</key>
	<string>https://github.com/ale-ben/Alfredflix</string>
</dict>
</plist>
